# environment
.venv/
CLAUDE.md
.obsidian
notes/
.claude/

# data
data/
asheville/

# results
results/
example_models/
notebooks/

# testing
process_asheville.sh
test_results/
test_fit.sh

# C code
__pycache__

# other
.DS_Store
archived_scripts/